/* MAIN CONTENT */

main {
    padding-block: 120px;
    padding-inline: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

/* HOME INPUT */

.home-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-input-inner {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    width: 400px;
    height: 50px;
    background-color: white;
    column-gap: 15px;
    border: 1px solid rgba(0,0,0,0.1);
    padding-inline: 15px 10px;
    border-radius: 0.2rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.home-input-svg {
    width: 18px;
    height: 18px;
    fill: hsl(0, 0%, 52%);
}

.home-input-itself {
    border: 0;
    background-color: transparent;
    font-size: 1rem;
    color: hsl(0, 0%, 52%);
    outline: none;
}

/* HOME OUTPUT */

.home-output {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px 30px;
}

/* HOME OUTPUT ITSELF */

.home-output-itself {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 0.2rem;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

/* HOME OUTPUT ITSELF IMAGE */

.home-output-itself-image {
    width: 100%;
    height: 100%;
    line-height: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.home-output-itself-image-itself {
    width: 100%;
    height: 100%;
    transition: scale 200ms;
    object-fit: cover;
}

/* HOME OUTPUT ITSELF INFORMATION */

.home-output-itself-information {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.home-output-itself-information-name {
    font-family: 600;
    color: hsl(200, 15%, 8%);
}

/* HOME OUTPUT ITSELF INFORMATION INNER */

.home-output-itself-information-inner {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.home-output-itself-information-inner-text-bold {
    font-weight: 600;
}

.home-output-itself-information-inner-text {
    color: hsl(200, 15%, 8%);
    font-weight: 300;
}

/* HOME OUTPUT ITSELF STATES */

.home-output-itself:hover .home-output-itself-image-itself {
    scale: 1.05;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
    main {
        padding-inline: 60px;
    }
}

@media (max-width: 1000px) {
    main {
        padding-inline: 30px;
    }
}

@media (max-width: 800px) {
    main {
        padding-block: 100px;
    }
    .home-input {
        display: grid;
        grid-template-columns: 1fr;
    }
    .home-input-inner {
       width: 100%;
    }
}

@media (max-width: 375px) {
    main {
        padding-inline: 20px;
    }
}